.header{
    display: flex;
    background-color: cadetblue;
    align-items: center;
}

.logo{
    margin-left: -0.5rem;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.name-logo{
    color:#fafafa;
    cursor: pointer;
}

.home{
    color: #fafafa;
    margin-left: 3.5rem;
}
.home a i{
    margin-right: 0.2rem;
}
